body {
  background-color: #D1CAB2;
}
#mainWrapper {
  display: flex;
}
#resultArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#canvasContainer {
  width: 960px;
  height: 640px;  
  padding: 10px;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  border-top: inset 4px gray;
  border-left: inset 4px gray;
  border-right: inset 4px gray;
  border-bottom: inset 4px gray;
}
.mmDisplay {
  position: absolute;
  outline: none; 
}
canvas.mmDisplay {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
#gfx {
  z-index: 1;
}
#sprd {
  z-index: 2;
}
#txtDsp {
  z-index: 3;
}
#displayCanvas {
  z-index: 200;
}
#userEventLayer {
  /* position: absolute; */
  z-index: 999;
  width: 960px;
  height: 640px;
}
