body {
  background-color: darkgray;
}
#mainWrapper {
  display: flex;
}
#editor { 
  position: relative;
  width: 100%;
  height: 100%;
}
#editor_container {
  width: 600px;
  height: 300px;
}
.blue {
  position: absolute;
  background-color: blue;
}
#resultArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#gfx {
  border: 2px solid gray;
  background-color: white;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
/* Necessary so that the whole line is marked */
.ace_marker-layer {
  > div:not(.ace_selection){
    width: 100% !important;
    border-radius: unset !important;
    left: 0 !important;
  }
}