body {
  background-color: darkgray;
}
#mainWrapper {
  display: flex;
}
#editor { 
  position: relative;
  width: 100%;
  height: 100%;
}
#editor_container {
  width: 600px;
  height: 300px;
}
.blue {
  position: absolute;
  background-color: blue;
}
#resultArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#gfx {
  border: 2px solid gray;
  background-color: white;
}